body{
    font-size:12px;
    font-family: Courier New, Courier, Georgia;
	margin: 0;
} 

h1 {font-size: 48px;
	text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
}

h2 {font-size: 20px;
} 

a{
 text-decoration:none;
}

.clear {
    clear:both;
}

#container {
    margin:0px auto; 
    text-align:center;
}

#container .content {
    float:left; 
    width:50%; 
    text-align:center;
}

#container .extracontent {
	float:right;
	width:50%;
	text-align:center;
}

.nav {
    font-size :20px;
    color: #404040;
	position: fixed;
	top: 0px;
    display: block;
    float: left;
    z-index: 2;
    width: 50%;
    background: #eee;
    background: rgba(150,150,150,.2);
}

.nav a {
    padding: 7px 10px;
    display: inline-block;
}

#earlier {
	left: auto;
    right: 0px;
    text-align: right;
}

.nav.single {
    width: 100%;
}

#later {
	left: 0px;
    text-align: left;
}

#footer {
    vertical-align:bottom; 
    text-align:center;   
	background: rgba(150,150,150,.2);
    padding: 10px 0; 
}

#footer a {
    color:#6D6D6D;
	text-decoration:none;
	font-size: 13px;
}

#footer a:hover {
    text-decoration:underline;
}

a.home {
    font-size:24px;
	text-decoration:none;
    background: #f3f;
    padding: 3px 6px 2px 3px;
    color: #fff;
}
a.home:hover {
    background:#144d4e;
    font-size:24px;
}

#about {
    font-size:24px;
    color:#555;
    margin:0px auto; 
    width:900px;
} 

#archive {
    font-size:24px;
    color:#404040;
    margin:0px auto; 
    width:900px;
    font-weight:bold;
    text-align:center;
}

img.expandable {
    cursor: pointer;
}

p.title {
    font-size: 24px;
    margin: 10px auto 5px auto;
}

p.desc {
    width: 400px;
    margin: 0 auto;
    text-align: left;
    margin: 0 auto 10px auto;
}